# Go build artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.cov

# Dependency directories (remove the comment below if you use Go modules)
# vendor/

# IDE/editor files
.vscode/
.idea/
*.swp

# Logs
*.log

# Terminalwrap binary
terminalwrap